{% extends "base.html" %} {% load static %} {% block content %}

<div class="container mt-5">
  <div class="alert alert-danger">
    <h4>Tem certeza que deseja excluir esse item?</h4>
    <p><strong>{{ object.nome }}</strong> - {{ object.ano }}</p>

    <form method="post">
      {% csrf_token %}
      <a href="{% url 'ocorrencia_list' %}" class="btn btn-secondary"
        >Cancelar</a
      >
      <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
    </form>
  </div>
</div>
{% endblock %}
